.contentContainer{
    padding: 0 2rem;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.callToAction{
  max-width: 700px;

  h1{
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    color: #141a29;
  }
  
  p{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #141a29;
  };

  span{
    color: #04dd75;
    font-weight: bold;
  }
}

.donaters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  h3{
    margin-bottom: 0.875rem;
  }

 div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-bottom: 1.5rem;
  gap: 10px;
    span{
      transition: all 0.2s;
      border-radius: 50%;
    }
    span:hover{
      transform: scale(1.1);
    }
  }
  

  img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #141a29;
    margin-top: 0.875rem;
    
    + img{
      margin-left: 10px;
    }

  }
 
  
}